apiVersion: v1
kind: Service
metadata:
  name: grafana-nodeport
  namespace: monitoring-infra
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: monitoring
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30300
