apiVersion: v1
kind: Service
metadata:
  name: prometheus-nodeport
  namespace: monitoring-infra
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/instance: monitoring-kube-prometheus-prometheus
  ports:
    - name: http-web
      port: 9090
      targetPort: 9090
      nodePort: 30900

