grafana:
  enabled: true
  service:
    type: ClusterIP
  persistence:
    enabled: true
    size: 5Gi
  initChownData:
    enabled: false
  securityContext:
    fsGroup: 472

prometheus:
  service:
    type: ClusterIP
  prometheusSpec:
    retention: 7d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

alertmanager:
  enabled: true
  
prometheus-node-exporter:
  enabled: false
